body {
    margin: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-color {
    background-color: #105826
}

#Navbar {
    color: floralwhite;
}

.headerbox {
    margin: 0px auto;
    padding: 70px 30px;
    background: #1B8D3B;
    color:floralwhite;
}

.footer {
    background-color: #99CFA7;
    margin: 0px auto;
    padding: 20px 0px;
}

.carousel {
    background-color: #105826;   
}

.carousel .carousel-item {
    height: 300px;
    position: absolute;
    top:0;
    right: 0;
    min-height: 300px;
}

#carousel-button {
    right: 0px;
    position: absolute;
    bottom: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px
}

.carousel-caption {
    position: static;
}

.item {
    display: block;
}