body {
    margin: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-color {
    background-color: #105826
}

#Navbar {
    color: floralwhite;
}

.headerbox {
    margin: 0px auto;
    padding: 70px 30px;
    background: #1B8D3B;
    color:floralwhite;
}

.footer {
    background-color: #99CFA7;
    margin: 0px auto;
    padding: 20px 0px;
}